---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: gluster-{{ kube_hostname }}
  namespace: {{ gcs_namespace }}
  labels:
    app.kubernetes.io/part-of: gcs
    app.kubernetes.io/component: glusterfs
    app.kubernetes.io/name: glusterd2
spec:
  serviceName: glusterd2
  selector:
    matchLabels:
      app.kubernetes.io/part-of: gcs
      app.kubernetes.io/component: glusterfs
      app.kubernetes.io/name: glusterd2
  template:
    metadata:
      labels:
        app.kubernetes.io/part-of: gcs
        app.kubernetes.io/component: glusterfs
        app.kubernetes.io/name: glusterd2
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - {{ kube_hostname }}
      containers:
        - name: glusterd2
          image: docker.io/gluster/glusterd2-nightly@sha256:0bbdfaff774741de07bcb8cc05ba535a33cf610e723ab44e208a7aceb762999e
          livenessProbe:
            httpGet:
              path: /ping
              port: 24007
            initialDelaySeconds: 10
            periodSeconds: 60
          env:
            - name: GD2_ETCDENDPOINTS
              value: "http://etcd-client.{{ gcs_namespace }}:2379"
            - name: GD2_CLUSTER_ID
              value: "{{ gcs_gd2_clusterid }}"
            - name: GD2_CLIENTADDRESS
              value: "gluster-{{ kube_hostname }}-0.glusterd2.{{ gcs_namespace }}:24007"
            - name: GD2_ENDPOINTS
              value: "http://gluster-{{ kube_hostname }}-0.glusterd2.{{ gcs_namespace }}:24007"
            - name: GD2_PEERADDRESS
              value: "gluster-{{ kube_hostname }}-0.glusterd2.{{ gcs_namespace }}:24008"
            # TODO: Remove RESTAUTH false once we enable setting auth token
            # using secrets
            - name: GD2_RESTAUTH
              value: "false"
          securityContext:
            capabilities: {}
            privileged: true
          volumeMounts:
            - name: gluster-dev
              mountPath: "/dev"
            - name: gluster-cgroup
              mountPath: "/sys/fs/cgroup"
              readOnly: true
            - name: gluster-lvm
              mountPath: "/run/lvm"
            - name: gluster-kmods
              mountPath: "/usr/lib/modules"
              readOnly: true
            - name: glusterd2-statedir
              mountPath: "/var/lib/glusterd2"
            - name: glusterd2-logdir
              mountPath: "/var/log/glusterd2"
      volumes:
        - name: gluster-dev
          hostPath:
            path: "/dev"
        - name: gluster-cgroup
          hostPath:
            path: "/sys/fs/cgroup"
        - name: gluster-lvm
          hostPath:
            path: "/run/lvm"
        - name: gluster-kmods
          hostPath:
            path: "/usr/lib/modules"
        - name: glusterd2-statedir
          hostPath:
            path: "/var/lib/glusterd2"
            type: DirectoryOrCreate
        - name: glusterd2-logdir
          hostPath:
            path: "/var/log/glusterd2"
            type: DirectoryOrCreate
